<div id="main-about">
    <h2>About Fuelyo</h2>
    <p>Fuelyo is a free web app written by <a href="http://bobnadler.com">Bob Nadler</a> using the tools below. View the source code on <a href="http://github.com/bnadlerjr/fuelyo">Github</a>.</p>
    <ol id="tools">
        <li><a href="http://www.ruby-lang.org"><img src="./images/ruby.gif" /></a></li>
        <li><a href="http://www.sinatrarb.com"><img src="./images/sinatra.png" /></a></li>
        <li><a href="http://heroku.com"><img src="./images/heroku.png" /></a></li>
        <li><a href="http://www.zeepmobile.com"><img src="./images/zeepmobile.gif" /></a></li>
    </ol>
</div>
