<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Online MPG Tracker" />
<meta name="Keywords" content="mpg, fuel, economy, tracker" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="stylesheets/envision-landing.css" type="text/css" />

<title>Fuelyo</title>

</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
        <div id="header">
            <h1 id="logo-text"><a href="index.html">fuelyo</a></h1>
            <p id="slogan">Track your car's MPG online...</p>
        </div>

        <div  id="menu">
            <ul>
                <li id="current"><a href="fuelyo.heroku.com">Home</a></li>
                <li class="last"><a href="about.html">About</a></li>
            </ul>
        </div>

        <div id="content-wrap">
            <div id="main">
                <img id="splash-img" src="./images/fuel-wallet.jpg" />
                <p class="large">Fuelyo allows you to track your car's fuel efficiency.</p>
                <p>Send a text message to fuelyo with info from your latest fill-up, it will calculate your MPG and send you a text message back letting you know what it is. View your MPG over time on this website.</p>

                <a href="http://fuelyo.heroku.com/auth/twitter"><img src="./images/twitter-sign-in.png" /></a>

                <div class="clear"></div>

                <h2>How Does It Work?</h2>
                <ol id="steps">
                    <li>
                      <div>
                        <img class="left" src="./images/onebit_05.png" />
                        <p>Sign in to automatically create an account. You can sign in using Twitter, so that you don't have to remember yet another username and password.</p>
                      </div>
                    </li>
                    <li>
                      <div>
                        <img class="left" src="./images/onebit_05.png" />
                        <p>Register your cellphone number with fuelyo. This way fuelyo knows who you are when you send a text message. Fuelyo uses <a href="">Zeepmobile</a> to handle your text messages.</p>
                      </div>
                    </li>
                    <li>
                      <div>
                        <img class="left" src="./images/onebit_05.png" />
                        <p>Whenever you fill up your gas tank, send a text message to <strong>88147</strong> that has the keyword fuelyo, your odometer reading, the price per gallon of gas and how many gallons you purchased. For example: <code>fuelyo 98324 2.69 15</code></p>
                      </div>
                    </li>
                    <li>
                      <div>
                        <img class="left" src="./images/onebit_05.png" />
                        <p>Sign in to your account online to view your MPG history over time.</p>
                      </div>
                    </li>
                </ol>
            </div>
        </div>

        <div id="footer">
            <p>
            &copy; 2010 <strong><a href="http://bobnadler.com">Bob Nadler, Jr.</a></strong> |
            Design by: <a href="http://www.styleshout.com/">styleshout</a> |
            Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
            <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
            </p>
        </div>
</div>
</body>
</html>
