<div id="main-single">
<img id="splash-img" src="./images/fuel-wallet.jpg" />
<p class="large">Fuelyo allows you to track your car's fuel efficiency.</p>
<p>Send a text message to fuelyo with info from your latest fill-up, it will calculate your MPG and send you a text message back letting you know what it is. View your MPG over time on this website.</p>

<a href="http://fuelyo.heroku.com/auth/twitter"><img src="./images/twitter-sign-in.png" /></a>

<div class="clear"></div>

<h2>How Does It Work?</h2>
<ol id="steps">
  <li>
    <div>
      <img class="left" src="./images/onebit_05.png" />
      <p>Sign in to automatically create an account. You can sign in using Twitter, so that you don't have to remember yet another username and password.</p>
    </div>
  </li>
  <li>
    <div>
      <img class="left" src="./images/onebit_05.png" />
      <p>Register your cellphone number with fuelyo. This way fuelyo knows who you are when you send a text message. Fuelyo uses <a href="">Zeepmobile</a> to handle your text messages.</p>
    </div>
  </li>
  <li>
    <div>
      <img class="left" src="./images/onebit_05.png" />
      <p>Whenever you fill up your gas tank, send a text message to <strong>88147</strong> that has the keyword fuelyo, your odometer reading, the price per gallon of gas and how many gallons you purchased. For example: <code>fuelyo 98324 2.69 15</code></p>
    </div>
  </li>
  <li>
    <div>
      <img class="left" src="./images/onebit_05.png" />
      <p>Sign in to your account online to view your MPG history over time.</p>
    </div>
  </li>
</ol>
</div>
