<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Online MPG Tracker" />
<meta name="Keywords" content="mpg, fuel, economy, tracker" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="../public/stylesheets/Envision.css" type="text/css" />

<title>Fuelyo</title>

</head>

<body>
<!-- wrap starts here -->
<div id="wrap">

        <!--header -->
        <div id="header">
            <h1 id="logo-text"><a href="index.html">fuelyo</a></h1>
            <p id="slogan">Track your car's MPG online...</p>
        </div>

        <!-- menu -->
        <div  id="menu">
            <ul>
                <li id="current"><a href="index.html">Home</a></li>
                <li class="last"><a href="index.html">About</a></li>
            </ul>
        </div>

        <!-- content-wrap starts here -->
        <div id="content-wrap">

            <div id="sidebar">

                <h3>Sign In or Create An Account</h3>
                <ul class="sidemenu">
                    <li>
                        <a href="/auth/twitter"> <img src="./images/twitter-sign-in.png" /> </a>
                    </li>
                </ul>

                <h3>Search Box</h3>
                <form action="#" class="searchform">
                    <p>
                    <input name="search_query" class="textbox" type="text" />
                    <input name="search" class="button" value="Search" type="submit" />
                    </p>
                </form>

                <h3>Sidebar Menu</h3>
                <ul class="sidemenu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#TemplateInfo">Template Info</a></li>
                    <li><a href="#SampleTags">Sample Tags</a></li>
                    <li><a href="http://www.styleshout.com/">More Free Templates</a></li>
                    <li><a href="http://www.4templates.com/?aff=ealigam">Premium Templates</a></li>
                </ul>

                <h3>Links</h3>
                <ul class="sidemenu">
                    <li><a href="http://www.pdphoto.org/">PDPhoto.org</a></li>
                    <li><a href="http://www.squidfingers.com/patterns/">Squidfingers</a></li>
                    <li><a href="http://www.alistapart.com">Alistapart</a></li>
                    <li><a href="http://www.cssremix.com">CSS Remix</a></li>
                    <li><a href="http://www.cssmania.com/">CSS Mania</a></li>
                </ul>

                <h3>Sponsors</h3>
                <ul class="sidemenu">
                    <li><a href="http://www.4templates.com/?aff=ealigam"><strong>4templates</strong></a> <br /> Low Cost Hi-Quality Templates</li>
                    <li><a href="http://store.templatemonster.com?aff=ealigam"><strong>TemplateMonster</strong></a> <br /> Delivering the Best Templates on the Net!</li>
                    <li><a href="http://tinyurl.com/3cgv2m"><strong>Text Link Ads</strong></a> <br /> Monetized your website</li>
                    <li><a href="http://www.fotolia.com/partner/114283"><strong>Fotolia</strong></a> <br /> Free stock images or from $1</li>
                    <li><a href="http://www.dreamstime.com/res338619"><strong>Dreamstime</strong></a> <br /> Lowest Price for High Quality Stock Photos</li>
                    <li><a href="http://www.dreamhost.com/r.cgi?287326"><strong>Dreamhost</strong></a> <br /> Premium webhosting</li>
                </ul>

                <h3>Wise Words</h3>
                <div class="left-box">
                    <p>&quot;Evaluation of the past is the first step toward
                    vision for the future.&quot; </p>

                    <p class="align-right">- Chris Widener</p>
                </div>

                <h3>Support Styleshout</h3>
                <div class="left-box">
                    <p>If you are interested in supporting my work and would like to contribute, you are
                    welcome to make a small donation through the
                    <a href="http://www.styleshout.com/">donate link</a> on my website - it will
                    be a great help and will surely be appreciated.</p>
                </div>

            </div>
            <div id="main">

                <h2>What is fuelyo?</h2>
                <p>Fuelyo is an online tool that allows you to track your car's
                fuel efficiency.</p>

                <h2>How Does It Work</h2>
                <p>Simple...</p>
                <ol>
                    <li>Sign up for an account. You can sign up using Twitter,
                    so that you don't have to remember yet another username and
                    password combo.</li>
                    <li>Register your cellphone number with Fuelyo. This way we
                    know who you are when you send a text message to us.</li>
                    <li>Whenever you fill up your gas tank, send a text message
                    to 111111 that has your odometer reading, the price per
                    gallon of gas and how many gallons you purchased.</li>
                </ol>
                <p>When you send a text message to fuelyo, it will calculate
                your MPG and send you a text message back telling you what it
                is.</p>
                <p>You can also log into your account on this website and see
                all of your updates along with a graph showing your average MPG
                over time.</p>
            </div>

        <!-- content-wrap ends here -->
        </div>

        <!--footer starts here-->
        <div id="footer">

            <p>
            &copy; 2010 <strong><a href="http://bobnadler.com">Bob Nadler, Jr.</a></strong> |
            Design by: <a href="http://www.styleshout.com/">styleshout</a> |
            Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
            <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
            </p>

        </div>

<!-- wrap ends here -->
</div>

</body>
</html>
